$animation-time: 0.7s;

.container {

  background-color: rgb(26, 26, 26);
  box-shadow: rgba(0, 0, 0, 0.5) -6px -6px 12px 0px inset, rgba(58, 58, 58, 0.376) 6px 6px 12px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) -6px -6px 12px 0px inset, rgba(58, 58, 58, 0.376) 6px 6px 12px 0px inset;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  padding: 12px;
  margin: 4px;
}

.fade-in {
  animation: fadeIn ease $animation-time;
  -webkit-animation: fadeIn ease $animation-time;
  -moz-animation: fadeIn ease $animation-time;
  -o-animation: fadeIn ease $animation-time;
  -ms-animation: fadeIn ease $animation-time;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}